/* src/App.css */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */

  /* #chat {
    position: relative;
  } */

  .chat-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    /* background-color: #ffffff; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    /* border-radius: 8px; */
  }
  
  .sidebar {
    width: 30%;
    /* background-color: #075e54; */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #495057;
  }

  .chat-content {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .chat-content-header {
    height: 50px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #495057;
  }
  
  .sidebar-header {
    height: 50px;
    padding: 10px;
    /* background-color: #075e54; */
    border-bottom: 1px solid #495057;
    text-align: center;
    font-weight: bold;
  }
  
  .chat-contact {
    display: flex;
    align-items: center;
    height: 72px;
    cursor: pointer;
    padding: 0px 13px;
    gap: 15px;
    border-bottom: 1px solid #495057;
  }
  
  .chat-contact:hover {
    background-color: #202c33;
  }

  .chat-contact-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #495057;
  }

  .chat-contact-avatar i {
    font-size: 50px;
    color: #ddd;
  }
  
  /* .chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  } */
  
  .chat-header {
    /* background-color: #075e54; */
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
  }
  
  .chat-messages {
    /* width: 100%; */
    height: 100%;
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    /* background-color: rgba(229, 221, 213, 0.06); */
  }

  .chat-content::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/bg.png") repeat;
    opacity: 0.06;
    z-index: -1;
    /* background-attachment: fixed; */
  }
  
  .message {
    /* padding: 8px 10px;
    margin: 5px 0;
    border-radius: 4px;
    max-width: 80%; */

    position: relative;
    background: #202c33;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 25%;
    width: fit-content;
    max-width: 85%;
  }

  .message::before {
    position: absolute;
    content: "";
    top: 0;
    width: 0px;
    height: 0px;
  }
  
  .message.sent {
    background-color: #075e54;
    /* align-self: flex-end; */

    margin-left: auto;
    margin-right: 10px;
    border-top-right-radius: 0;
  }

  .message.sent::before {
    right: -10px;
    border: 5px solid transparent;
    border-top: 5px solid #075e54;
    border-left: 5px solid #075e54;
  }
  
  .message.received {
    /* background-color: #ffffff;
    align-self: flex-start; */

    margin-right: auto;
    margin-left: 10px;
    border-top-left-radius: 0;
  }

  .message.received::before {
    left: -10px;
    border: 5px solid transparent;
    border-top: 5px solid #202c33;
    border-right: 5px solid #202c33;
  }
  
  .chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #495057;
    background-color: #212529;
  }
  
  .chat-footer textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #495057;
    margin-right: 10px;
    background-color: #283740;
    color: #FFFFFF;
  }
  
  .chat-footer button {
    background-color: #202c33;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--app-grey-color);
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(32, 32, 32, 0.05);
    border-image: initial;
    padding: 10px 12px;
    transition: background-color 0.22s;
  }
  
  .chat-footer button:hover {
    background-color: #283740;
  }
  
  .phone-input {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  .phone-input input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }

  /* ----------------------------------------- */

  /* mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .chat-content {
    width: 100%;
  }
}
  